<!-- inherit from base.html -->
{% extends 'todo_app/base.html' %}

{% block title %}
    Todo App
{% endblock %}

{% block content %}
    <div class="container-fluid d-flex align-items-center justify-content-center flex-column overflow-auto position-relative" id="container" >
        
        <div class="sub-container d-flex align-items-center  flex-column overflow-auto top-50 " id="sub-container">
            
                <h3>Todo App</h3>
                <!-- create tasks -->
                <form method= "POST" action="">
                    {% csrf_token %}
                    <div class="d-flex align-items-center mb-3">
                        <div class="form-group me-2 mb-0">
                            {{ form.title }}
                        </div>
                        <button class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>  
           
            
            <!-- populate table with tasks from database -->
            <div class="table-wrapper" id="table-wrapper">
                <table class="table table-hover table-bordered">
                <thead id="table-head">
                    <tr>
                    <th>Todo Item</th>
                    <th>Status</th>
                    <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    <!-- iterate through tasks in db -->
                    {% for task in tasks %}
                        <!-- if tasks.status is True-->
                        {% if task.status %}
                            <tr class="table-success">
                                <td class="striker"> {{ task.title }}</td>
                                <td> Completed </td>
                                <td> 
                                    <a class="btns " href="{% url 'updateTask' task.id %}" >
                                        <button class="btn disabled btn-outline-success">
                                            Finished
                                        </button>
                                    </a>
                                    <a class="btns" href="{% url 'deleteTask' task.id %}" >
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    </a>
                                </td>
                            </tr>
                        <!-- if tasks.status is False-->
                        {% else %}
                            <tr>
                                <td> {{ task.title }}</td>
                                <td> In Progress </td>
                                <td>
                                    <a class="btns" href="{% url 'updateTask' task.id %}">
                                        <button class="btn btn-success">
                                            Finished
                                        </button>
                                    </a>  
                                    <a class="btns" href="{% url 'deleteTask' task.id %}">
                                        <button class="btn btn-danger">
                                            Delete
                                        </button>
                                    </a>   
                                </td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
        
    </div>
    {% endblock %}
